body {
  background-color: #0f121f;
  background-image: url(stars.jpg);
  background-repeat-y:no-repeat;
  background-attachment: fixed;
  color:#fff;
}
body *{
  font-family:arial;
}

h1,h2,h3,h4,h5{
  font-weight:normal;
  margin:0;
}

a,a:hover,a:visited{
  color:#fff;
  text-decoration:none;
}
